.employee-date{
    display:flex;
    width:70px;
    color:white;
    background-color: black;
    flex-direction: column;
    border:1px solid white;
    border-radius: 12px;
    font-size:0.75rem;
    align-items: center;
    justify-content: center;
   
}