.Emp-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    margin:1rem 0;
    font-size: 15px;
    background-color: gray;
    border-radius: 12px;
    
}



.Emp-details-exp{
    padding-right:15px;
}